<header class="header-private">
    <h1 class="header-private__title">Fisiogest</h1>

    <div class="header-private__user">
        <div class="header-private__avatar">{{initials}}</div>
        <div class="header-private__user-info">
            <span class="header-private__user-name">{{userName}}</span>
            <span class="header-private__user-role">{{userRole}}</span>
        </div>
        <img class="header-private__logout" src="icons/logout.svg" alt="Cerrar sesión" (click)="logout()"/>
    </div>
     
</header>