<div class="card-info">
    <div class="card-info__header">
        <label class="card-info__label">{{ label }}</label>

        @if (editable && !isEditing) {
        <button mat-icon-button class="card-info__edit-button" (click)="startEdit()">
            <mat-icon>edit</mat-icon>
        </button>
        }
    </div>

    @if (!isEditing) {
    <div class="card-info__value">
        {{ value || '-' }}
    </div>
    }

    @if (isEditing) {
    <div class="card-info__edit">
        <input [(ngModel)]="editValue" [type]="type" [placeholder]="placeholder" class="card-info__input"
            (keyup.enter)="save()" (keyup.escape)="cancel()" />

        <div class="card-info__actions">
            <button class="card-info__btn card-info__btn--save" (click)="save()">
                <mat-icon>check</mat-icon>
                Guardar
            </button>
            <button class="card-info__btn card-info__btn--cancel" (click)="cancel()">
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
        </div>
    </div>
    }
</div>