.physios {
  padding: 0.5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #111827;
  }

  &__subtitle {
    color: #6b7280;
    margin-bottom: 1.5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  &__card {
    background: white;
    padding: 1.1rem;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(125deg, #5d3aaf, #3203a1) border-box;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &__card_title-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-icon {
       filter: brightness(0) saturate(100%) invert(21%) sepia(48%) saturate(4373%) hue-rotate(264deg) brightness(63%) contrast(122%);
  }

  &__card-title {
    font-size: 1.1rem;
    color: #4618af;
    font-weight: 500;
  }

  &__card-value {
    font-size: 4em;
    font-weight: bold;
    color: #130c25;
    margin: 0;
    font-family: 'MuseoModerno';
  }

  &__card-subtitle {
    font-size: 1rem;
    color: #4618af;
    font-weight: 400;
  }


  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111827;
    margin-bottom: 1rem;
  }
}

