<div class="user-menu">

    <button mat-icon-button class="user-menu__trigger" [matMenuTriggerFor]="userMenuRef" aria-label="Menú de usuario">

        @if(userInfo?.avatar) {
        <img [src]="userInfo.avatar" [alt]="userInfo.name" class="user-menu__avatar">
        } @else {
        <mat-icon class="user-menu__avatar-icon">account_circle</mat-icon>
        }

    </button>

    <!-- Menú desplegable -->
    <mat-menu #userMenuRef="matMenu" class="user-menu__dropdown">

        <!-- Información del usuario -->
        <div class="user-menu__info" mat-menu-item disabled>
            <div class="user-menu__name">{{userInfo?.name}}</div>
            <div class="user-menu__email">{{userInfo?.email}}</div>
        </div>

        <!-- Items del menú -->
        @for(item of menuItems; track item.label) {

        <button mat-menu-item class="user-menu__item" [routerLink]="item.path" (click)="item.action && item.action()">

            <mat-icon class="user-menu__item-icon">{{item.icon}}</mat-icon>
            <span class="user-menu__item-label">{{item.label}}</span>

        </button>


        }

    </mat-menu>

</div>