<div class="table-container">
    @if (showFilter) {
    <mat-form-field class="filter-field">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" [placeholder]="filterPlaceholder">
    </mat-form-field>
    }

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Columnas dinámicas -->
            @for (column of displayedColumns; track column) {
            <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="isColumnSortable(column) ? column : ''"
                    [disabled]="!isColumnSortable(column)">
                    {{ getColumnLabel(column) }}
                </th>
                <td mat-cell *matCellDef="let row">
                    {{ getColumnValue(row, column) }}
                </td>
            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row 
                *matRowDef="let row; columns: displayedColumns;"
                [class.clickable-row]="isClickable"
                (click)="onRowClick(row)">
            </tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    {{ noDataMessage }}
                    @if (showFilter && filterValue) {
                    <span> "{{ filterValue }}"</span>
                    }
                </td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Seleccionar página"></mat-paginator>
    </div>
</div>