@forward 'scss/abstracts/functions';
@forward 'scss/abstracts/mixins';

@use 'scss/base/reset';
@use 'scss/base/typography';

@use 'scss/layouts/auth-layout';
@use 'scss/layouts/dashboard-layout';

@use 'scss/components/auth-form';
@use 'scss/components/header';
@use 'scss/components/nav-tabs';
@use 'scss/components/metric-card';
@use 'scss/components/sessions-table';

.mat-sort-header-container{
  font-family: 'MuseoModerno', sans-serif;
  color: #4F0FE6;
  font-weight: 700;
}

td{
  font-family: 'Inter', sans-serif;
}

mat-chip {
      font-weight: 800;
}